*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    background-color: black;
}
#div1{
    width: 40%;
    height: 70vh;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(to right, rgb(71, 71, 71), rgb(108, 107, 107));
    border-radius: 60px;
     box-shadow: 5px 5px 10px rgb(217, 217, 217);
}
#div2{
    height: 15%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
input{
    width: 80%;
    height: 40%;
    padding-left: 8px;
    border-radius: 50px;
    background-color: black;
    font-size: small;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
    color: gray;
}
h3{
    color: rgb(250, 68, 2);
    text-shadow: 2px 2px 5px black;
}
#imgdiv{
    height: 60%;
    width: 50%;
    border-radius: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
}
button{
    width: 50%;
    height: 10%;
    border-radius: 50px;
    background:linear-gradient(to right,rgb(187, 52, 3),orangered);
    border: 2px solid orangered;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 2px 2px 5px black;
    transition: transform 0.3s ease;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
}
#qrimage{
    height:92%;
    width: 92%;
    border-radius: 5px;
    display: none;
}


@media(min-width:300px) and (max-width:700px){
    #div1{
        width: 98%;
        border-radius: 50px;
    }
    #imgdiv{
        width: 80%;
    }
    input{
        width: 100%;
    }
}


@media(min-width:701px) and (max-width:1000px){
    #div1{
        width: 80%;
    }
    #imgdiv{
        width: 70%;
    }
    input{
        width: 90%;
    }
}